<html lang="en">

<head>
    <meta charset="utf-8">
    
   
    <title>NewProfile</title>

    

    <!-- Fonts -->
  

    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'> 

    

	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
<div class="intro">
<h2>New Profile</h2>

<%= render 'form' %>
<div class="render">
<%= link_to 'Back', profiles_path %>
</div>
</div>
</body>
