<p id="notice"><%= notice %></p>

<h1>Find who is here</h1>

<% @people.each do |profile| %>
	<div class="entry">
	<a href= <%= profile_path(profile.id)%> >
	<%= image_tag profile.photo.url(:thumb)%>
	</a>
	</div>
<% end %>