
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index">
                  <%= image_tag("logomin.png",class:"img-responsive") %>
                </a>
               
            </div>
          
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                  
                   
                    
                    
                    <li class="page-scroll">
                    <a href=<%=edit_profile_path(current_user)%>>PROFILE</a> 
                    </li>
                    <li>
                        <a href=<%=new_user_registration_path%>>MATCHES</a>
                    </li>
                    <li>
                         <a href="/profiles">NEARBY GYMS</a>
                    </li>
                    <li>
                         <a href="http://josephndungu.com/tutorials/gmail-like-chat-application-in-ruby-on-rails">CHAT</a>
                    </li>
                    <li>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete    %>
                    </li>
                   
                    
                </ul>
            </div> 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><!-- 
